@import "./TodoListItemColumn.css";

.todo-list-item {
  background-color: white;
  margin: 8px;
  border: 1px solid lightgray;
  border-radius: 32px;
  padding: 12px 8px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 8px;
  align-items: center;
  box-shadow: 1px 1px 1px lightgray;
}

.todo-list-item:hover {
  background-color: ghostwhite;
  padding: 13px 8px;
}
